<% content_for :page_header do %>
  Twilio SMS Manager
<% end %>
<div class="row">
  <div class="col-lg-12">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Enter Number</h3>
      </div>
      <div id="twilio_form">
        <%= render 'user_number_form' %>
      </div>
    </div>
  </div>
</div>